<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - SaffiraCloud</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", required: false)
</head>

<body>
    <div class="wrapper">

        <partial name="_Sidebar" />

        <partial name="_CookieConsentPartial" />

        <div id="content">
            <partial name="_Navbar" />
            <div class="content-body">
                @RenderBody()
                <hr />
                <partial name="_Footer" />
            </div>
        </div>

    </div>

    <environment include="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/js/popper.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/script.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>