<nav class="navbar navbar-expand-lg navbar-dark panel-header-background">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="navbar-btn" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <a class="navbar-brand mr-auto" href="#">@ViewData["Title"]</a>
    </div>
</nav>